# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.suo
*.ilk
/bin/Debug/CURLTool.pdb
/bin/Debug/HttpRequest.pdb
*.tlog
/HttpRequest/Debug/vc140.pdb
*.log
*.user
*.exp
/Sample/CURLTool/Debug/vc140.pdb
/Sample/CURLTool/GeneratedFiles/Debug/moc_curltool.cpp
/Sample/CURLTool/GeneratedFiles/ui_curltool.h
/HttpRequest.VC.db
/lib/Debug/HttpRequest.lib
/lib/Release/HttpRequest.lib
/Sample/CURLTool/GeneratedFiles/Release/moc_curltool.cpp
/HttpRequest.VC.VC.opendb
/bin/Debug/HttpRequest.dll
/bin/Release/libcurl.pdb
/bin/Debug/libcurld.pdb
/bin/Release/HttpRequest.dll
*.rar
*.bak
*.lastbuildstate
*.ipch
/HttpRequest.sdf
/samples/CURLTool/GeneratedFiles/Release
/samples/CURLTool/Debug/vc140.pdb
/samples/CURLTool/GeneratedFiles/Debug/moc_curltool.cpp
/samples/CURLTool/GeneratedFiles/ui_curltool.h
/src/Debug/vc140.pdb
/samples/CURLTool/x64/Debug/vc140.pdb
/src/x64/Debug/vc140.pdb
/x64/Debug/CURLTool.pdb
/x64/Debug/HttpRequest.pdb
/x64/Debug/libcurld.pdb
