# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.suo
*.ilk
*.pdb
*.tlog
*.log
*.user
*.exp
*.sdf
*.opendb
*.db
*.rar
*.bak
*.lastbuildstate
*.ipch
/samples/CURLTool/GeneratedFiles/Release
/samples/CURLTool/GeneratedFiles/Debug/
/bin/Win32/Debug/HttpRequest.dll
/bin/x64/Debug/HttpRequest.dll
/lib/Debug/HttpRequest.lib
/samples/CURLTool/GeneratedFiles
/lib/Release/HttpRequest.lib
/bin/Release/HttpRequest.dll
